<div class="container-fluid contcolor">


<div class="container contcolor1">
    <div class="row">
        <div class="col-md-6 mt-1">
            <img src="assets/img/gradimage.jpeg" alt="gradimage" style="height: 356px;width: 100%;border-radius:5px">
        </div>
        <div class="col-md-6">
            <h2 style="font-weight: bold;text-decoration: underline; font-family: poppins">Graduation</h2>
            <span class="glyphicon glyphicon-hand-right"></span> <p style="padding: 10px; font-size:18px;">I graduated with Computer Science in Silicon Valley University Aug-2016.</p>
            <h3 style="font-size: 1.5rem">Technical Skills</h3>
            <p>HTML, CSS, JavaScript, jQuery, Ajax, JSON, Bootstrap, AngularJs,NodeJs.</p>
            <h3 style="font-size: 1.5rem">Software And Tools</h3>
            <p>NotePad++, MS Visuval Studio, MS Office, Brackets</p>
            <h3 style="font-size: 1.5rem">Databases And Operating System</h3>
            <p> Basic Knowlwdge On MYSQL, SQL, Windows7/8/10</p>


        </div>

    </div>

</div>
</div>

