<div class="container-fluid bg-dark mt-3">
  <nav class="navbar navbar-expand-md navbar-inverse bcolor fixed-top navbar-dark" role="navigation">
    <a href=""><img class="Profileimg" src="assets/img/a.jpg"></a>
    <a class="navbar-brand" href="#">Anjan Profile</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="about"><b>About Me</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="edu"><b>Education</b></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link show" routerLink="exep">Experience</a>
        </li>     -->
        <li class="nav-item">
            <a class="nav-link show" routerLink="gallery"><b>Gallery</b></a>
          </li>    
        <li class="nav-item">
          <a class="nav-link show" routerLink="contactpage"><b>Contact</b></a>
        </li>    
      </ul>
    </div>  
  </nav>
</div>


