


<!-- 

<p>aboutme works!</p>
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-3">
                <div class="card">
                        <img src="assets/img/g.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a routerLink="gosome" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
        </div>
        <div class="col-md-3">
                <div class="card">
                        <img src="assets/img/gg.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a routerLink="gosome" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
        </div>
        <div class="col-md-3">
                <div class="card">
                        <img src="assets/img/ggg.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a routerLink="gosome" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
        </div>
        <div class="col-md-3">
                <div class="card">
                        <img src="assets/img/gggg.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a routerLink="gosome" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
        </div>



    </div>

</div> -->
<div class="container-fluid">
    <div class="row alert  alert-dark1">
        
            <div class="col-md-6">
                    <img class="roseimg" src="assets/img/rose.jpeg" style="right: 0px" alt="rose">  
            </div>
            <div class="col-md-6">
                    <h3>Anjan UI Developer</h3>
            </div>
        
    </div>
    <div class="row settingmargin">
            
                    <div class="col-md-4 p-0">
                      <div class="card setheight">
                        <div class="card-body">
                          <h5 class="card-title mt-3">Who am I?</h5>
                          <hr>
                          <p class="card-text mt-3"> Talented UI Developer Located in Hyderabad.</p>
                          <p style="text-indent: 35px">I have been developing Web applications, Specially using
                            HTML5, CSS3, Bootstrap,Javascript, JQuery,Ajax, AngularJS
                            I strive to learn and implement new technologies.
                          </p>

                          <button class="btn btn-primary">
                                <a href="/Users/gorigeanjaneyulu/Desktop/anjan_resume" download style="color: white">Download my CV</a>
                            </button>
                          
                        </div>
                      </div>
                    </div>
                    <div id="div1" class="col-md-4 p-0">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title mt-3">Personal Info</h5>
                          <hr>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <p><b>Name :</b>Anjaneyulu Gorige</p>
                          <p><b>Mobile :</b>xxxxxxxxxx</p>
                          <p><b>Email :</b>sample@gmail.com</p>
                          <p><b>Address :</b>Hyderabad</p>
                          
                          
                        </div>
                      </div>
                    </div>
                            <div class="col-md-4 p-0 setheight">
                              <div class="card setheight">
                                <div class="card-body">
                                  <h5 class="card-title mt-3">My Expertise</h5>
                                <hr>
                                  <p>Web Design </p>
                                  <p>Web Development</p>
                                </div>
                              </div>
                            </div>
                        

    </div>

</div>

