<div class="container-fluid mt-2">
    <h2 class="alert alert-dark mt-0">Gallery </h2>
    <div class="row">
        <div class="col-md-4 center">
            <img src="assets/img/gal6.jpeg" class="center" alt="">
        </div>
        <div class="col-md-4">
                <img src="assets/img/gal2.jpg" alt="">
        </div>
        <div class="col-md-4">
                <img src="assets/img/gal3.jpg" alt="">
        </div>
    

    </div>
    <div class="row mt-1">
        <div class="col-md-4">
                <img src="assets/img/gal4.jpeg" alt="">
            </div>
            <div class="col-md-4">
                    <img src="assets/img/gal5.jpeg" alt="">
            </div>
            <div class="col-md-4">
                    <img src="assets/img/gal1.jpeg" alt="">
            </div>
    </div>

</div>