<!-- corousel start -->
<div class="container-fluid carousalbg">
<div class="container">
	<div class="row">
		<div class="col-md-12 set">
			<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/IMG_1.JPG" alt="Friends1">
    </div>
    <div class="carousel-item">
      <img src="assets/img/IMG_13.JPG" alt="Friends2">
    </div>
    <div class="carousel-item">
      <img src="assets/img/IMG_12.JPG" alt="Friends3">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

		</div>
		
	</div>
</div>
</div>
<!-- carousel end -->

